
<table class="pure-table">
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="week in weeks">
            <td>week.sun</td>
            <td>week.mon</td>
            <td>week.tue</td>
            <td>week.wed</td>
            <td>week.thu</td>
            <td>week.fri</td>
            <td>week.sat</td>
            
        </tr>
    </tbody>
</table>


